.locations-page {
  padding-bottom: 30px;

  .header {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 30vh;
    font-size: 40px;
  }

  .locations-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 30px 28px;

    .location-card {
      align-self: stretch;
      margin-bottom: 7px;
      border-radius: 40px;
      padding: 40px 15px;
      width: calc(100% / 3 - 5px);
      background-color: #3d5afe;
      transition: border-radius ease-in-out .3s, background-color ease-in-out .3s;

      &:hover {
        border-radius: 20px;
        background-color: mix(#3d5afe, red, 95%);
      }

      .card-section {
        margin-bottom: 20px;
        min-height: 80px;
        font-size: 20px;

        &:last-of-type {
          margin-bottom: 0;
          min-height: 0;

        }

        .card-section-name {
          font-size: 24px;
        }

        .card-section-info {
          padding-left: 10px;
        }

        &.section-address {
          min-height: 200px;
        }
      }
    }

    .loader {
      position: absolute;
      bottom: 0;
      left: calc(50% - 14px);
      height: 28px;
      width: 28px;
      border: 5px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      animation: rotation 1s linear infinite;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
